/**
 * Created by Genex
 * User: wkhoe
 * Date: Aug 16, 2010
 */

/*@font-face
{
	font-family: 'MetaMediumRomanBold';
	src: url('metamediumroman.otf');

}*/

@font-face
{
	font-family: 'MetaMediumRoman';
	src: url('MetaMediumRoman.otf');	
}


