
body {
     font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
}

.headerContainer span {
    vertical-align: baseline;
}
.headerContainer a {
   color: #0c2074;
   text-decoration: none;
   font-size: 12px;
}
.headerContainer a:hover
{
    text-decoration: underline;
}

.headerContainer
{
    min-height: 30px;
    overflow: visible;
}
.headerSection_Logos, .ie .headerSection_Logos
{
    display:inline-block;
    width:49.9%;    
    overflow:visible;   
    float:left;
}

.headerSection_Menus, .ie .headerSection_Menus
{
    float:left;
    width:50%;
    overflow:visible;  
    float:left;
}


.menuLinks,.ie .menuLinks   
{    
    text-align:right;
}

.menuLinks  span > span 
{
    margin-left: 10px;
    margin-right: 10px;
}

.headerClear
{
    clear: both;
}
