/* Hide elements completely */
#aw-log-in-lock,
#aw-us-bank-shield,
#aw-log-in-to-your-accounts,
#aw-connection-secured-lock,
#aw-connection-secured
 {
    display: none;
}

body {
    background-color: transparent;
}

/* Containers */
.aw-authenticate {
    width: 350px;
    height: 475px; /*PRJ25492 - Digital Id - ADI-1522-updated aw-dotcom style file*/
    clear: both;
    background: rgba(12,32,116,0.9);
    color: #FFF;
    position: absolute;
    top: 0;
    overflow-y: auto;
    left: 0;
    border-radius: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Interactive Components */

.aw-authenticate button {
    color: #fff;
    background: #D93F4D;
    border: solid 2px #D93F4D;
}

.aw-authenticate button:hover {
    background: #EF3A50;
    border: solid 2px #EF3A50;
}

.aw-authenticate button.aw-secondary {
    background: #FFF;
    color: #D93F4D;
    border: solid 2px #D93F4D; /* I am not sure if UX intends to have a 'clear' button, which ends up being a blue fill in the dotcom widget scenario; style guide is unclear */
}

.aw-authenticate button.aw-secondary:hover {
    color: #EF3A50;
    border: solid 2px #EF3A50;
}

.aw-authenticate button#aw-show-password {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #007CBE ;
    padding: 0;
    width: auto;
    font-weight: normal;
    font-size: 12px;
    float: right;
}

/* Text Components */
.aw-authenticate a,
.aw-authenticate p,
.aw-authenticate h1,
.aw-authenticate h2,
.aw-authenticate h3,
.aw-authenticate label {
    color: #FFF;
}

.aw-authenticate h2,
.aw-authenticate h1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 18px;
}

.aw-authenticate label:first-of-type {
    margin-top: 0;
}

.aw-authenticate label#aw-remember-my-id-label {
    margin-top: 0;
    clear: both;  /*ADI-1628-css issue*/
    display: inline;
    margin-bottom: 5%;
}
input::-ms-clear {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
/*Safari related change*/
input::-webkit-textfield-decoration-container {
    visibility: hidden;
}
.aw-authenticate select {
    margin-bottom: 5%;
}
.aw-authenticate input[name=personalId] {
    margin-bottom: 2%;
}
.aw-authenticate a[id=aw-forgot-password] {
    margin-top: 2%;
    margin-bottom: 5%;
}
.aw-authenticate a[id=aw-new-user-setup-online-access] {
    margin-top: 2%;
    margin-bottom: 5%;
}
.aw-authenticate .error-backdrop {
    margin-bottom: 5%;
    margin-top: 5%;
}

/*Angular Class Error Styles*/

.error-on input[name=personalId].ng-invalid,
.error-on input[name=password].ng-invalid {
    border: solid 2px #de162b;
    border-radius: 4px;
    background-color: #fff2f1;
}

/*Spacing*/
#aw-forgot-personal-id {
    line-height: 14px;
    padding-top: 0;
}
.aw-authenticate .error-backdrop:before {
    content: "";
    background-image: url('/Auth/content/images/error.svg'); /*TJ-1354-add in image need to remove this absolute path later after testing .*/
    width: 27px;
    height: 80px;/*ADI-1522 help issue */
    box-sizing: border-box;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.aw-authenticate input[type="text"],
.aw-authenticate input[type="password"],
.aw-authenticate input[type="number"],
.aw-authenticate input[type="tel"],
.aw-authenticate select {
    color: #000000;
    width: 270px;
}
.aw-authenticate ul li {
    margin-top:3%;
}
.aw-authenticate ul li:last-child {
    margin-bottom: 5%;
}
#aw-log-in-header {
    font-size: 28px;
}

.error-on #aw-log-in-header {
    display: none;
}

.error-on #aw-log-in {
    display: none;
}



#sharedAuthstepUpContainer h1 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 5%;  
}
.aw-authenticate p.aw-disclosure {
    margin-top: 5%  !important;
}
.aw-authenticate .error-backdrop p{
    margin-left: 0;
    /*display: flex;-ADI-1522_ADI-1584*/
    padding:0;/*ADI-1628*/
}
.aw-authenticate .Shield_Questions {
    color: white !important;
}
.aw-authenticate .Selectauth_header {
    text-align: left !important;
}
.aw-authenticate h1#stepUpHeader:focus {
    outline: none !important;
}
/*Start-ADI-1628-css issue*/
#aw-log-in-header.ng-hide:not(.ng-hide-animate) {
    visibility: hidden !important;
    display: block !important;
    margin: 0;
}
div [ng-show="personalIdErrorMessage"] .error-backdrop{
    margin-top: -4px;
}
div [ng-show="passwordErrorMessage"] .error-backdrop {
    margin-top: 0px;
}
/*End-ADI-1628-css issue*/


